@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex-center-only {
	display: flex;
	align-items: center;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
}

@mixin flex-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
